SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=b74160670@gmail.com
SMTP_PASS=xwgcpvybwozhfpzv
SMTP_FROM=b74160670@gmail.com

VITE_API_BASE_URL=https://look-away.onrender.com/

VITE_SUPABASE_URL=https://lzputkhoucaueiyderzd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_XUw5FSBfC-8HxfYUZ6Omag_e7rfhy3T
